.table tbody tr.unseenNotif td {
  /*background-color: #1f88a2;*/
  font-weight: bold;
}

.table tbody tr.seenNotif td {
}

.table-hover tbody tr.unseenNotif:hover td {
  background-color: #38acc8;
}

.table-hover tbody tr.seenNotif:hover td {
  background-color: #38acc8;
}